<% const isLoggedIn = typeof loggedIn !== 'undefined' ? loggedIn : false; %>
<% const isMember = typeof user !== 'undefined' ? user : false; %>

<nav class="nav">
  <div><a class="text-2xl mx-4 my-1" href="/">Members Only</a></div>
  <% if (!isLoggedIn) {%>
  <div>
    <button><a class="mx-4 my-1" href="/login">Login</a></button>
    <button><a class="mx-4 my-1" href="/register">Register</a></button>
  </div>
  <% } %>
  <% if (isLoggedIn) {%>
  <div>
    <% if (!isMember) { %>
    <button><a class="mx-4 my-1" href="/special">Special membership</a></button>
    <% } %>
    <button><a class="mx-4 my-1" href="/logout">Logout</a></button>
  </div>
  <% } %>
</nav>
