<div>
  <div>Posts</div>
  <div>
    <% posts.forEach(post => { %>
    <div>
      <p><%= post.title %></p>
      <p><%= post.formatted_date %></p>
      <p><%= post.username %></p>
      <p><%= post.contents %></p>
    </div>
    <% }); %>
  </div>
</div>
