<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <% if (loggedIn) { %>
    <%- include("./partials/createPost.ejs") %>
    <% } %>
    <%- include("./partials/posts.ejs") %>
  </body>
</html>
