<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Special Signup</title>
  </head>
  <body>
    <h1>Please enter the special code</h1>
    <form action="/special" method="POST">
      <label for="passcode">Code</label>
      <input type="password" name="passcode" id="passcode" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
