@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", "sans-serif";
}

html {
  font-family: Nunito;
  height: 100vh;
}

body {
  height: 100vh;
  @apply flex flex-col bg-linear-to-tl from-sky-200 to-orange-200;
}

.nav {
  @apply container mx-auto flex min-w-full items-center justify-between border-b-2 border-b-red-300 bg-red-200 py-3;
}

.lineInput {
  @apply col-span-2 mx-4 h-1/2 self-end border-0 border-b-2 border-solid border-gray-700 bg-transparent px-2 text-xl text-black duration-300 outline-none focus:border-blue-400 focus:outline-none;
}
